
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-style:thin;
  font-weight:100;
  font-size: 40px;

}

h1{
  position:absolute;
  top: 15px;

  left:40px;
}

h2
{
  font-size: 24px;

}

.backtoprod{
  position:absolute;
  top: 60px;
  left:40px;
  font-size:18;
  color:black;
}


a{
  font-size: 24px;
}

/*.container {
position:absolute;
top:100px;
left:20px;
  width: 1000px;
  height: 600px;
  background-color: blue;
  display:inline-flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
*/
.container {
position:absolute;
top:100px;
left:20px;
border: 1px solid grey;
display:flex;
}

a.homelink{
    position:absolute;
    left: 900px;
    top: 30px;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
    color: blue;
    margin: auto;
    text-align: center;
    line-height: 40px;

}

.nav{
  position:absolute;
    top: 30px;
    height:40px;
  
}

#barcode{
  left:800px
}

#shelf{
  left:860px
}

#home{
  left:910px
}

#home.navb{
  position:absolute;
    top: 30px;
    height:40px;
    left:600px;

}



.grid {
  display: grid;
  border: 0.5px black solid;
  background-color:white;
  height: 500px;
  width: 500px;
  grid-template:repeat(7, 1fr) / repeat(9, 1fr);
  grid-gap:5px;
  position:relative;
  top:65px;
  left:20px;
  
}

img.product{
  height:500px;
}
  

img.box{
  height:100%;
  width:100%;
    
    object-fit: cover;
}

img.shelfplain{
  position:absolute;
    left:0px;
    height:500px;
}
 
img.shelf{
    position:absolute;
    left:0px;
    height:500px;
    animation-name: zoom;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}


 @keyframes zoom{
    
0% {
  transform: scale(1,1) translate(0, 0);
}
50% {
  transform: scale(2,2) translate(500px, 100px);
}
100% {
  transform: scale(1,1) translate(0, 0);}


.inventorybox{
  
  
 
}
.flexchild{
  flex:1;
}

.flexchild:first-child {
    margin-right: 20px;
} 


.x409{
  grid-area: 1 / 1 / span 1 / span 1;
}


.applesauce{
	
 }


.boullion{
	

}

.bakedbeans {

}  
.bounty{

}
.bucatini{

}
.bumble{

}
.campbells{

}
.canblackbeans{

}
.canpeas{

}
.cannedstring{

}
.charmin{

}
.cranberry{
	
}

.box {
  background-color: beige;
  color: black;
  border: 0.5px black solid;
}


