body{
 
}

div {
    box-sizing: border-box;
}


h1{
position: absolute;
top:391px;
left:152px;
font-family:Syncopate;
font-size: 20px;
font-style: bold;
color: red;

}

h1.clickbigger:hover {
   transform: translate(6em,0);
}


h2{
position: absolute;
font-family:Syncopate;
font-size: 40px;
font-style: bold;
color: #ff9800;
transform: rotate(90deg);
}

/* my attempt at reversing the tranparency effect

h4{
position: absolute;
font-family:Syncopate;
font-size: 40px;
font-style: bold;
color: #ff9800;
transform: rotate(90deg);
opacity: 0;
transition: 4s linear forwards;
}
*/


.upperstrap{
position: absolute;
top: 207px;
left: 68px;

}
.reverse{
    position: absolute;
    top: 530px;
    left: 30px;  
    
}

.lowerstrap{
position: absolute;
top: 530px;
left: 30px;
opacity: 0; 
transition: opacity 5s linear; 

}


#strap {
    position: absolute;
   margin-top: 120px;
    margin-left: 40px;
    width: 60px;
    height: 600px;
    background: #0c0c9a;
    border-radius: 10px 10px 20px 20px;
}

#face {
    position: absolute;
    margin-top: 350px;
    margin-left: 6px;
    width: 130px;
    height: 130px;
    background: grey;
    border-radius: 64px;
    border: 2px dotted white;
}

.hands {
    position: absolute;
    left: 75px;
    top: 409px;
    background: white;
}

#hour {
    width: 5px;
    height: 32px;
    
}

#minute {
    width: 40px;
    height: 5px;    
    
}

/* secondsback is a trasparent face area so the
hover will happen over a wider area*/


#seconds{
    position: absolute;
    left: 76px;
    top: 365px;
    width: 3px;
    height: 48px;
    background-color: red;
    
}


.rotate:active{
    transform-origin: bottom center;
    transform: rotate(90deg);
}


#topBuckle {
    position: absolute;
    left: 46px;
    top: 120px;
    width: 63px;
    height: 22px;
    background: white;
    border-radius: 5px;
    border: 4px solid black;
}

#clasp1 {
    position: absolute;
    left: 46px;
    top: 200px;
    width: 63px;
    height: 8px;
    background: black;
    border-radius: 5px;
    border: 4px solid black;
}

#clasp2 {
    position: absolute;
    left: 46px;
    top: 225px;
    width: 63px;
    height: 8px;
    background: black;
    border-radius: 5px;
    border: 4px solid black;
}

#holes {
    position: absolute;
    left: 75px;
    top: 605px;
    width: 3px;
    height: 96px;
    background: blue;
    border: 3px dotted white;
}

.numbers { 
position: absolute;
font:courier;
font-size: 18px;
font-style: bold;
font-color:solid red;

 }
#twelve {
    left: 70px;
    top: 346px;
}


#three {
    left: 123px;
    top: 387px;
}

#six {
    left: 73px;
    top: 441px;
}

#nine{
    left: 25px;
    top: 389px;

}



#polkadothome{
    position:absolute;
    margin-top: 10px;
    margin-left:352px;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 10px solid pink;
    border-radius: 50px;

}

#homelink{
position:absolute;
    position: absolute;
    margin-top: 39px;
    margin-left: 368px;
    font-family: syncopate;
    font-size: 13px;
    font-style: bold;
    color:pink;

